@import "fonts.css";
@import "reset.css";
@import "global.css";
@import "header.css";

/* @import "footer.css"; */

/* ========================================== */

/* text-transform: uppercase; */


/* --------------- */
/* .products-slides{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
} */

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;

}

.products__title {
    /* font-weight: 400; */
    font-size: 37px;
    line-height: 1.07;
    color: var(--color-red);
    max-height: 51px;
    padding: 5px 0;
}

.controls-bar {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    /* align-items: center; */
}

/* .controls-bar>* img {
    max-width: 25px;
    max-height: 25px;
} */

.filters,
.sort {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 5px;
    padding: 5px 20px;
    font-size: 15px;
    color: #808080;
    line-height: 2.56;
    letter-spacing: 1.26px;
    background: transparent;
    border: 1.26px solid #dedede;
    cursor: pointer;
    transition: all 0.3s;
    /* height: 100%;
    max-width: 159px;
    width: 100%; */
}

.filters:hover,
.sort:hover {
    border-color: var(--color-red);
    border-radius: 50%;
    color: var(--color-red);
}
.filters:hover span,
.sort:hover span {
    transform: scale(1.1);
}
.filters img:hover,
.sort img:hover {
    border-color: var(--color-red);
    color: var(--color-red);
}

.action__icons {
    display: flex;
    align-items: center;
    border: 1.26px solid #dedede;
    overflow: hidden;
}

.icon__btn {
    padding: 12px 16px;
    background: transparent;
    border: none;
    border-right: 1.26px solid #dedede;
    /* width: 50%; */
    /* height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.icon__btn:last-child {
    border-right: none;
}

.icon__btn img {
    opacity: 0.5;
    width: 25px;
    height: 25px;
}

.icon__btn:hover img {
    transform: scale(1.3);
}

/* .icon__btn-list {
    padding: 0 13px 0 20px; */
/* padding-left: 20px; */


.icon__btn-group {
    /* padding: 0 20px 0 13px; */
    /* padding-right: 20px; */
    padding-left: 13px;
}

.sellers-top__slider {
    padding: 20px 0 50px;
}

.btn__all {
    margin: 69px 0;
    display: flex;
    justify-content: center;
}