body {
    background: #181E34;
    font-family: "Montserrat", "Arial", sans-serif;
    /* font-size: 16px; дефолтное значение */
    /* font-weight: 400; Дефолтное значение */
    line-height: 150%;
    color: #fff;
}

.container {
    max-width: 930px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

/* ================== */

.header {
    display: flex;
    max-width: 895px;
}