
:root {
    --color-ac-orange: #FFA55C;
    --color-ac-pink: #CEAAD0;
    --color-bg-button: #FFE0CB;
    --color-body: #FFF9F4;
    --color-bg-img: #704174;
    --color-bg-disable: #E1D9E1;
    --color-bg-inputs: #AC907A;
    --color-text-head: #1F1711;
    --color-text: #312C27;

    --font-family: "Montserrat", sans-serif;
    --second-family: "Gabriola", sans-serif;
    --third-family: "Inspiration", sans-serif;

    --transition: all .4s;
    --border-radius: 20px;
}


/* ========================= */
.body {
    /* font-family: "Montserrat", "Arial", sans-serif; */
    font-family: var(--font-family);
    background: var(--color-body);
    /* font-size: 16px; дефолтное значение */
    /* font-weight: 400; Дефолтное значение */
    line-height: 1.5;
    color: var(--color-text);
}

.body--opened-menu {
    overflow: hidden;
}

.body--opened-modal {
    overflow: hidden;
}

.wraper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
    background: var(--color-body);
}

.main__about {
    padding: 140px 0;
}

.main__program,
.main__gallery,
.main__testimonials {
    padding-bottom: 145px;
}
/* .main__gallery {
    padding-bottom: 145px;
} */

.container {
    max-width: 1310px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
    line-height: 24px;
}

.title {
    font-family: var(--second-family);
    font-size: 74px;
    line-height: .82;
    color: var(--color-text-head);
}

.button {
    width: 100%;
    display: flex;
    font-weight: 500;
    line-height: 1.6;
    align-items: center;
    justify-content: center;
    /* max-width: 358px; */
    height: 62px;
    background: var(--color-ac-orange);
    border-radius: 60px;
    padding: 3px 15px;
}

.button:hover {
    background: #ff9138;
    transition: var(--transition);
}

/* ====================_modal-window-to-about_================ */
.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    inset: 0;
    z-index: 10;
    background: #00000070;

    opacity: 0;
    visibility: hidden;
    transition: all .6s;
    padding: 15px;
}

.body--opened-modal .modal {
    opacity: 1;
    visibility: visible;
    /* transition: var(--transition); */
}

.modal--opened {}

.modal__window {
    background: var(--color-body);
    max-width: 428px;
    padding: 0 60px 60px;
    border-radius: var(--border-radius);
    position: relative;
}

.modal__cancel {
    position: absolute;
    top: 20px;
    right: 20px;
    transition: all .4s;
}

.modal__cancel:hover path,
.modal__cancel:hover rect {
    stroke: #AC907A;
}

.modal__img {
    margin: -65px 0 15px 13px;
    max-width: 100%;
}

.modal__title {
    /* font-family: var(--second-family); */
    font-size: 42px;
    line-height: .9;
    /* color: var(--color-text-head); */
    margin-bottom: 10px;
}

.modal__text {
    margin-bottom: 30px;
}

.modall__form {}

.modal__form-label {
    margin-bottom: 10px;
}

.field {
    display: block;
    position: relative;
}

.field span {
    position: absolute;
    top: 12px;
    left: 28px;
    font-size: 11px;
    color: #AC907A;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);

}

.field__input {
    display: block;
    width: 100%;
    border: 1px solid #AC907A;
    border-radius: 100px;
    padding: 19px 41px 19px 28px;
    background: transparent;
    font-size: 16px;

    transition: var(--transition);
}

.field__input:hover {
    border-color: var(--color-ac-orange);
}

.field__input::placeholder {
    color: #AC907A;
    transition: var(--transition);
}

.field__input:hover::placeholder {
    color: var(--color-ac-orange);
}

.field__input:focus {
    padding: 26px 42px 12px 28px;
}

.field__input:focus+span {
    /* padding: 26px 42px 12px 28px; */
    opacity: 1;
    visibility: visible;
}

