.block {
    width: 500px;
    height: 500px;
    background-color: black;
}

/* Приоритет 1 + 10 = 11 */
div.block {
    background-color: blue;
}

/* Приоритет 100 */
/* #block {
    background-color: greenyellow;
} */

/* Приоритет 10 */
.block-2 {
    background-color: red;
}

/* Приоритет 1 */
div {
    background-color: purple;
}

/* Приоритет 10000 */
/* div {
    background-color: purple !important;
} */

